html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #dddcda;
    color: black;
  }

  
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  
  #page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  .windowlogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items:center;    
  }

  .btns{
    width: 200px;
    padding: 5px;
  }
  
  .dataname{
    font-weight: bold;
    font-size: 20px;
  }
  .errorMsg{
    color: red;
  }
  
  .formsection{
    display: flex;
    flex-direction: column;
  }